body{
    margin: 0;
    padding: 10px;
    min-width: 400px;
}


input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid green;
    margin-bottom: 4px;
}

button{
    background: green;
    color: white;
    padding: 10px 20px;
    font-weight: bold;



}

ul{
    list-style: none;
    margin: 10px 0px;
    padding-left: 0px;
}

a{
    color: green;
}